services:
  db:
    image: postgres:16-alpine
    container_name: zadani-db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: zadani-app
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    environment:
      DB_HOST: db
    ports:
      - "3000:3000"

volumes:
  db_data:
